#client-name-box {
}

#client-po-num-box {
    padding-left: 20px;
}

#item-descrip-box {}

#client-draw-num-box {
    
}

#client-draw-rev-box {
        padding-left: 20px;

}

#client-spec-num-box {
        padding-left: 20px;

}

#client-spec-rev-box {
        padding-left: 20px;

}

#aerex-draw-num-box {}

#aerex-draw-rev-box {
        padding-left: 20px;

}

#aerex-spec-num-box {
        padding-left: 20px;

}

#aerex-spec-rev-box {
        padding-left: 20px;

}

#part-serial-num {}
