<div *ngIf="ssSptRecord">
  <br>
  <!-- these next two boxes carry through to multiple tabs -->
  <div class="container">
    <span id="client-name-box"><b>Client: </b> {{ssSptRecord.client}}</span>
    <span id="client-po-num-box"><b>Client PO #: </b> NAS-23553</span>
    <br>
    <!-- these next boxes all are specific to this drawing and part # -->
    <span id="item-descrip-box"><b>Item Description: </b> This thing that's being made</span>
    <br>
    <span id="client-draw-num-box"><b>Client Draw #: </b> RES-2445</span>
    <span id="client-draw-rev-box"><b>Rev: </b> A</span>
    <span id="client-spec-num-box"><b>Client Spec #: </b> ASTM-4322</span>
    <span id="client-spec-rev-box"><b>Rev: </b> 2006</span>
    <br>
    <span id="aerex-draw-num-box"><b>Client Draw #: </b> LE12-2455 Water</span>
    <span id="aerex-draw-rev-box"><b>Rev: </b> 0</span>
    <span id="aerex-spec-num-box"><b>Client Spec #: </b> ASTM-4322</span>
    <span id="aerex-spec-rev-box"><b>Rev: </b> 2009</span>
    <br>
    <span id="part-serial-num"><b>Serial / Part #: </b> 249543-4922</span>
    <br>
  </div>
  <br> here you'll have an add welding wire button and list of welding wires
  <br> here you'll have a visual examination box with fill-in procedure and rev
  <br> here you'll have a penetrant exam box with fill in stuff
  <br> here you'll have a hydrostat exam box with fill in stuff
  <br> here you'll have a load test exam box with fill in stuff
  <br> here you'll have a dimensional inspection box here you'll have an add part that had dimensional inspection box
  <br> here you'll have an add weld-map-line button and the list of weld-map-lines
  <br> <b>Notes: </b> {{ssSptRecord.notes}}
  <br> here you'll have the qc acceptnace box and date box
  <br>

</div>